<template>
  <div class="textarea">
    <textarea
      v-model="currentValue"
      :style="inputStyle"
      readonly
    />
    <textarea
      ref="shadow"
      v-model="currentValue"
      class="shadow"
      tabindex="0"
      readonly
    />
  </div>
</template>

<script>
export default {
  name: 'AutoTextarea',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      inputHeight: '0'
    }
  },
  computed: {
    inputStyle () {
      return {
        'min-height': this.inputHeight
      }
    },
    currentValue () {
      return this.value
    }
  },
  watch: {
    currentValue () {
      this.resize()
      this.$emit('input', this.currentValue)
    }
  },
  mounted () {
    this.resize()
  },
  methods: {
    resize () {
      this.inputHeight = `${this.$refs.shadow.scrollHeight}px`
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  // border: 1px solid #0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    font-size: 12px;
    height: 0;
    outline: 0;
    border: 0;
    background-color: transparent;

      &.shadow {
        max-height: 0;
        pointer-events: none;
        opacity: 0;
        margin: 0;
      }
    }
  }
</style>
