.header {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  font-size: 16px;
  text-align: center;
  color: #879AAF;
  z-index: 20;
  box-shadow: 0 3px 6px #0000004D;
  line-height: 48px;
  letter-spacing: 0.28px;
}

.last-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

// about-tabs
.about-tabs {
  position: absolute;
  left: 60px;
  width: 80%;
  height: inherit;

  .about-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: inherit;
    font-size: 12px;
    color: #375E86;
    color: #FAFAFA;

    &.active {
      color: #FAFAFA;
    }
  }

  .active-bar-wrap {
    position: absolute;
    bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    transition: transform 0.5s 0.1s;
  }

  .active-bar {
    width: 51px;
    height: 2px;
    background: #0589D7;
    transform: translateY(4px);
  }
}

.content {
  position: relative;
  padding: 48px 0 52px;
  min-height: 100vh;
  background: #162236;
}

.first-block {
  position: relative;
  height: 239px;
  box-sizing: border-box;

  img {
    display: inline-block;
    width: 100%;
    height: 239px;
    vertical-align: bottom;
    box-sizing: border-box;
  }

  .first-block-title {
    // position: absolute;
    // bottom: 89px;
    // left: 37px;
    font-size: 30px;
    text-align: left;
    color: #FAFAFA;
    //border: 1px solid #f00;
    width: 79.4666666667%;
    margin-bottom: 14px;
  }

  .first-block-text {
    // position: absolute;
    // bottom: 42px;
    // left: 39px;
    width: 79.4666666667%;
    font-size: 12px;
    text-align: left;
    color: #FAFAFA;
    margin-bottom: 42px;
  }
}

.second-block {
  padding-top: 46px;
  // height: 177px;
  background: #FAFAFA;
  padding-bottom: 35px;

  .laurel-group {
    display: flex;
    justify-content: center;
  }

  .second-block-title {
    margin: 0 4px;
    width: 128px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #0B1021;
  }

  .second-block-text {
    margin: 13px auto 0;
    width: 68%;
    height: 34px;
    font-size: 12px;
    color: #0B1021;
  }

  .second-block-text-2 {
    font-size: 14px;
    color: #375E86;
    letter-spacing: 0.28px;
    cursor: pointer;
  }

  .text-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    /deep/{
      .textarea{
        textarea{
          color: #0B1021;
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
  }
}

.second-block-2 {
  padding-top: 46px;
  height: 130px;
  background: #FAFAFA;

  .laurel-group {
    display: flex;
    justify-content: center;
  }

  .second-block-title {
    margin: 0 4px;
    width: 158px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #0B1021;
  }

  .w-114 {
    width: 114px;
  }
}

.third-block-2 {
  margin: 26px auto;
  width: 79.201%;
  height: 378px;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 6px 6px #0000001A;

  > img {
    margin-top: 38.2px;
  }

  .third-block-text-1 {
    margin: 21.94px auto 0;
    width: 81.15%;
    font-size: 12px;
    text-align: center;
    color: #0B1021;
  }

  .third-block-text-2 {
    margin: 5px auto 0;
    width: 81.15%;
    font-size: 12px;
    text-align: center;
    color: #0B1021;
  }

  .third-block-text-3 {
    margin: 5px auto 0;
    width: 81.15%;
    font-size: 12px;
    text-align: center;
    color: #0B1021;
  }
}

.third-block-3 {
  margin: 0 auto 26px;
  // padding-top: 40px;
  // padding-bottom: 40px;
  width: 79.201%;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 6px 6px #0000001A;
  &:nth-of-type(3){
    .btngroup{
      .up{
        display: none;
      }
    }
  }
  &:nth-last-of-type(1){
    .btngroup{
      .down{
        display: none;
      }
    }
  }

  img {
    // margin-top: 38.3px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 19px;
  }

  .third-block-text {
    margin: 0 auto;
    width: 82.15%;
    font-size: 12px;
    //font-size: var(--font2nd);
    text-align: center;
    color: #0B1021;
    //color: var(--overlaycolor);
    line-height: 17px;
  }

  .third-block-title {
    font-size: 18px;
    font-weight: 700;
    color: #0B1021;
    margin-bottom: 14px;
    //color: var(--overlaycolor);
  }

  .third-block-text-group {
    margin-top: 5px;
    padding: 0 28px;
    font-size: 12px;
    text-align: center;
    color: #0B1021;
  }
}

/deep/.customer-text {
  font-size: 14px;
  color: #2699FB;
  letter-spacing: 1.26px;
  cursor: pointer;
}

.h-239 {
  height: 239px;
}

.h-278 {
  height: 278px;
}

.h-295 {
  height: 295px;
}

.h-297 {
  height: 297px;
}

.h-342 {
  height: 342px;
}

.content-box {
  padding: 26px 0 52px;
  background-color: #F4F5F7;
}

.main__show {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 239px;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  flex-direction: column;
}


.main__show {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 239px;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  flex-direction: column;
}

.main__text {
  width: 79.2%;
  margin-bottom: 42px;

  .title {
    font-size: 30px;
    text-align: left;
    color: #FAFAFA;
    margin-bottom: 14px;
    //color: var(--fontcolorbase);
  }

  .info {
    font-size: 12px;
    //font-size: var(--font2nd);
    color: #FAFAFA;
    //color: var(--fontcolorbase);
  }
}

.second-block {
  padding-top: 46px;
  // height: 177px;
  background: #FAFAFA;

  .laurel-group {
    display: flex;
    justify-content: center;
  }

  .second-block-title {
    margin: 0 4px;
    width: 128px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #0B1021;
  }

  // .second-block-title-2 {
  //   margin: 0 4px;
  //   width: 112px;
  //   height: 48px;
  //   font-size: 16px;
  //   font-weight: bold;
  //   text-align: center;
  //   color: #0B1021;
  // }

  .second-block-text {
    margin: 13px auto 0;
    width: 68%;
    height: 34px;
    font-size: 12px;
    color: #0B1021;
  }

  .second-block-text-2 {
    font-size: 14px;
    color: #375E86;
    letter-spacing: 0.28px;
    cursor: pointer;
  }

  .text-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}

.content-box {
  padding: 26px 0 52px;
  background-color: #F4F5F7;
}

.type__list {
  margin: 26px auto 0;
  width: 79.201%;
  height: 203px;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 6px 6px #0000001A;

  img {
    margin-top: 38.76px;
  }

  .text {
    margin: 24.43px auto 0;
    width: 81.15%;
    font-size: 12px;
    //font-size: var(--font2nd);
    color: #0B1021;
  }
}

.template-wrap{
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #162236;
}

.template1-list-info{
  width: 68%;
  margin: 0 auto;
  display: flex;
  word-wrap:break-word;
  flex-direction: column;

  >span{
    display: inline-block; 
    color: #0B1021;
    font-size: 12px;
    line-height: 17px;
  }

}

.template-list-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 25px;

  .icon{
    width: 65px;
    height: 65px;
    background-size: contain;
    background-position: center center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #D9D9D9;
    >img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
  }
}

.template2-list-wrap{
  margin: 0 auto ;
  width: 79.201%;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 6px 6px #0000001a;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 38px;

  .info{
    width: 240px;
    text-align: center;
  }

  .icon{
    width: 65px;
    height: 65px;
    background-size: contain;
    background-position: center center;
    margin-bottom: 21px;
  }

  textarea{
    outline: 0;
    resize: none;
    background-color: transparent;
    border: 0;
    width: 100%;
  }
}

.template2-content-box{
  padding: 26px 0 26px;
}

.second-block-title-2 {
  margin: 0 4px;
  width: 112px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #0B1021;
  .textarea{
    color: #0B1021;
    font-size: 16px;
    font-weight: 700;

    /deep/textarea{
      color: #0B1021;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.btngroup{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  >div{
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 5px;
    line-height: 30px;
  }
}

.keyin-title,.card-title{
  font-size: 18px;
  line-height: 26px;
  color: #0B1021;
  margin-bottom: 14px;
}
.keyin-info,.card-info{
  font-size: 12px;
  line-height: 17px;
  color: #0B1021;
}

.save{
    position: relative;
    overflow: hidden;
    border: 1px solid #D9D9D9;
    padding: 0.8em 1em;
    width: 100px;
    text-align: center;
    color: #9095AA;
    font-size: 0.95em;
}

